    <div id="footer">
      <div class="footer-bar w">
        <div class="f-head clearfix">
          <div class="f-copyright fl">
            <a class="f-logo" href="#">
              <img src="public/images/upload.png">
            </a>
            <p>印业执照注册号：<a href="#">330106000129004</a></p>
            <p>增值电信业务经营许可证：<a href="#">浙B2-20110349</a></p>
            <p>ICP备案号:浙ICP备10044327号-3</p>
            <p>&copy;2016 Mogujie.com杭州卷瓜网络有限公司</p>
          </div>
          <ul class="f-about-us clearfix fl">
            <li>
              <h4>公司</h4>
              <a href="#">关于我们</a>
              <a href="#">招聘信息</a>
              <a href="#">联系我们</a>
            </li>
            <li>
              <h4>消费者</h4>
              <a href="#">消费者服务</a>
              <a href="#">意见反馈</a>
              <a href="#">手机版下载</a>
            </li>
            <li>
              <h4>商家</h4>
              <a href="#">商家入驻</a>
              <a href="#">商家后台</a>
              <a href="#">蘑菇商学院</a>
              <a href="#">商家社区</a>
            </li>
          </ul>
          <div class="f-cation fr">
            <h3>权威认证</h3>
            <a class="f-police" href="#"></a>
            <a class="f-pingan" href="#"></a>
            <a class="f-kexin" href="#"></a>
          </div>
        </div>
        <ul class="f-link clearfix">
          <li>友情链接:</li>
          <li><a href="#">淘粉吧</a></li>
          <li><a href="#">蘑菇街团购网</a></li>
          <li><a href="#">蘑菇街女装</a></li>
          <li><a href="#">蘑菇街男装</a></li>
          <li><a href="#">蘑菇街鞋子</a></li>
          <li><a href="#">蘑菇街包包</a></li>
          <li><a href="#">蘑菇街家居</a></li>
          <li><a href="#">家具网</a></li>
          <li><a href="#">时尚品牌网</a></li>
          <li><a href="#">装修</a></li>
          <li><a href="#">蘑菇街母婴</a></li>
          <li><a href="#">衣联网</a></li>
          <li><a href="#">播视网视频</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>