<?php require 'view/index/head.html'; ?> 
  <div style="background:#fff" class="header_mid clearfix"> 
   <div class="wrap" style="width:1200px;margin:0 auto;"> 
    <a rel="nofollow" href="?c=index" class="logo" title="蘑菇街首页"></a> 
    <div class="normal-search-content"> 
     <div class="top_nav_search" id="nav_search_form"> 
      <div class="search_inner_box clearfix"> 
       <div class="selectbox" data-v="1"> 
        <span class="selected">搜商品</span> 
        <ol> 
         <li class="current" data-index="bao"><a href="">商品</a></li> 
         <li data-index="shop"><a href="">店铺</a></li> 
        </ol> 
       </div> 
       <form action="index.php" method="get" id="top_nav_form"> 
        <input type="hidden" name="c" value="search" >
        <input type="text" name="search" placeholder="新品" class="ts_txt fl"/> 
        <input type="submit" value="搜  索" class="ts_btn" /> 
       </form> 
       <div class="top_search_hint"></div> 
      </div> 
      <div class="ts_hotwords">
       <a rel="nofollow" class="ts_hotword" href="?c=search&search=防晒衣">防晒衣</a>
       <a rel="nofollow" class="ts_hotword" href="?c=search&search=连衣裙">连衣裙</a>
       <a rel="nofollow" class="ts_hotword" href="?c=search&search=凉鞋">凉鞋</a>
       <a rel="nofollow" class="ts_hotword" href="?c=search&search=夏季套装">夏季套装</a>
       <a rel="nofollow" class="ts_hotword" href="?c=search&search=小白鞋">小白鞋</a>
       <a rel="nofollow" class="ts_hotword" href="?c=search&search=T恤">T恤</a>
       <a rel="nofollow" class="ts_hotword" href="?c=search&search=牛仔短裤">牛仔短裤</a>
       <a rel="nofollow" class="ts_hotword" href="?c=search&search=墨镜">墨镜</a>
       <a rel="nofollow" class="ts_hotword" href="?c=search&search=衬衫">衬衫</a>
       <a rel="nofollow" class="ts_hotword" href="?c=search&search=夏季睡衣">夏季睡衣</a>
       <a rel="nofollow" class="ts_hotword" href="?c=search&search=斜跨小包">斜跨小包</a>
       <a rel="nofollow" class="ts_hotword" href="?c=search&search=高跟鞋">高跟鞋</a>
      </div> 
     </div>
    </div> 
    <div class="mid_fr"> 
     <div class="nav_mogu_qrcode"> 
      <img width="70" height="70" src="public/images/erwm.png" alt="蘑菇街客户端下载" /> 
      <p>蘑菇街客户端</p> 
     </div> 
    </div> 
   </div> 
  </div>