  </head>
  <body>
    <div id="header">
<?php require 'view/index/head.html'; ?>

      <div class="search-bar w clearfix">
        <div class="search-logo">
          <div class="logo-sear clearfix">
            <div class="logo fl">
              <a href="javascript:;"><img src="public/images/a.png" /></a>
            </div>
            <div class="search fl">
              <form action="" method="get" class="clear">
                <a class="s-shop" href="#">搜商品</a>
                <input type="hidden" name="c" value="search" >
                <input type="text" name="search" placeholder="原创韩版T恤"  />
                <input type="submit" value="" class="s-img">
              </form>
              <ul class="clearfix s-list">
                <li><a href="?c=search&search=衬衫">衬衫</a></li>
                <li><a href="?c=search&search=连衣裙">连衣裙</a></li>
                <li><a href="?c=search&search=运动鞋">运动鞋</a></li>
                <li><a href="?c=search&search=睡衣">睡衣</a></li>
                <li><a href="?c=search&search=小白鞋">小白鞋</a></li>
                <li><a href="?c=search&search=T恤">T恤</a></li>
                <li><a href="?c=search&search=卫衣">卫衣</a></li>
                <li><a href="?c=search&search=单鞋">单鞋</a></li>
                <li><a href="?c=search&search=斜跨小包">斜跨小包</a></li>
              </ul>
            </div>
          </div>
          <div class="all-s clearfix">
            <a class="a-menu" href="?c=search&search=">全部商品</a>
            <a href="#">团购</a>
            <a href="#">快抢</a>
          </div>
        </div>
        <div class="s-code clearfix">
          <img src="public/images/180142.png" />
        </div>
      </div>
    </div>